{{!
  author: samueldoyle
  model: model/indexBody
}}
<div id="center" class="center"></div>
<div id="mainbody">
    <div class="chrome-header" style="height: 44px;">
        <div class="main-toolbar"></div>
    </div>
    <div class="title-page">
        <div class="title-container">
            <div class="title-container-body">
                <div class="title-content-container" id="importHeader">
                    {{importHeader}}
                </div>
            </div>
        </div>
        <div class="control-bar">
            <!--
            <a href="">About</a>
            <a href="">Home</a>
             -->
            {{#if contactEnabled}}
                <a href="">{{contactText}}</a>
            {{/if}}
        </div>
        <div class="x-clear"></div>
        <div id="contentWrapper">
            <div class="offset1 span9 text-info text-left well well-small">
                <p>{{#ulQuestionList infoBulletPoints}}{{& msg}}{{/ulQuestionList}}</p>
            </div>
            <div class="container-fluid fill">
                <div class="content row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span5">
                                <div class="filler">
                                    <label class="x-form-item-label-top" for="readme-content">{{readMeHeader}}</label>
                                    <textarea name="description"
                                              id="readme-content"
                                              disabled=""
                                              class="x-form-text readme-content">
                                    </textarea>
                                </div>
                                <div id="importOptions" class="pull-left">
                                    <div class="label label-item" style="font-size: 18px;">
                                        <b>{{advancedOptionsHeader}}</b></div>
                                    <a href="#advancedOptionsWrap" data-target="#advancedOptionsWrap"
                                       data-toggle="collapse"
                                       class="accordion-toggle">
                                        <i id="advancedOptionsChevron" class="icon-chevron-down"></i>
                                    </a>

                                    <div role="presentation" id="advancedOptionsWrap"
                                         class="accordion-body collapse in">
                                        <table class="table table-striped">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <!--<div id="conflictResolutionStrategy" class="controls" style="border:1px solid #ccc;">-->
                                                    <div id="conflictResolutionStrategy" class="controls mainLabel">

                                                        <label id="conflictLabel">{{conflictResolutionLabel}}</label>
                                                        <label class="radio"

                                                        <div data-container="body" data-toggle="tooltip"
                                                             data-original-title="{{overwriteTT}}">
                                                            <input type="radio" name="importOptionsRadio"
                                                                   id="importOverwrite"
                                                                   value="OVERWRITE"
                                                                   checked="">
                                                            {{overwriteLabel}}
                                                        </div>
                                                        </label>
                                                        <label class="radio">
                                                            <div data-container="body" data-toggle="tooltip"
                                                                 data-original-title="{{skipTT}}">
                                                                <input type="radio" name="importOptionsRadio"
                                                                       id="importSkip"
                                                                       value="SKIP">
                                                                {{skipLabel}}
                                                            </div>
                                                        </label>
                                                        <label class="radio">
                                                            <div data-container="body" data-toggle="tooltip"
                                                                 data-original-title="{{importAsNewTT}}">
                                                                <input type="radio" name="importOptionsRadio"
                                                                       id="importNew"
                                                                       value="IMPORTASNEW">
                                                                {{newLabel}}
                                                            </div>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="mainLabel x-form-item">
                                                        <label for="importAsNewSuffix">
                                                            {{importAsNewLabel}}
                                                        </label>

                                                        <div data-container="body" data-toggle="tooltip"
                                                             data-original-title="{{importSuffixTT}}">
                                                            <div class="x-form-item-body">
                                                                <input id="importAsNewSuffix" type="text"
                                                                       placeholder="_new"
                                                                       class="x-form-text" disabled=""
                                                                       style="width: 100px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="sharedOption">
                                                        <hr/>
                                                        <div class="x-form-item">
                                                            <div data-container="body" data-toggle="tooltip"
                                                                 data-original-title="{{sharedTT}}">
                                                                <input id="shared" type="checkbox"/> {{sharedLabel}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="importFormWrapper">
                                <!-- Main app fills in with importForm template -->
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span12">
                                <div id="progressGroup" class="control-group hidden">
                                    <div class="badge" id="progressBadge"
                                         style="padding: 3px; float: left; width: 25px; text-align: center;">
                                        50%
                                    </div>

                                    <div id="progressWrapper" class="progress progress-striped">
                                        <div class="bar" style="width: 50%;" id="progressBar">Importing...</div>
                                    </div>
                                </div>

                                <div id="responseDataControl" class="hidden">
                                    <div id="responseData" class="responseData"></div>
                                    <div id="errordiv" class="filler">
                                        <textarea name="description"
                                                  id="error-readme-content"
                                                  disabled=""
                                                  class="error-readme-content">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="viewFileModal" class="modal hide fade in" style="display: none; ">
                <div class="modal-header">
                    <h3 class="pagination-centered"></h3>
                </div>
                <div class="modal-body">
                    <!--<pre id="model-content" class="prettyprint lang-xml" style="margin-bottom: 9px;">-->
                   <pre id="model-content">
                   </pre>
                </div>
                <div class="modal-footer">
                    <a download="" class="btn">Download</a>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>

        <!-- <div class="container-fluid">
             <div class="row-fluid">
                 <div id="bottomWrapper" class="span12">

                     <div id="actionButtons">
                         <div class="slanted-button-bar">
                             <div id="importButton" class="is-last is-default x-btn-slanted-medium">
                                 <button>Import File</button>
                             </div>
                             <div id="viewImportFileButton" class="x-btn-slanted-medium">
                                 <button>&lt;&lt; Download File</button>
                             </div>
                         </div>
                         <div class="x-clear"></div>
                     </div>
                 </div>
             </div>
         </div>-->
    </div>
</div>