{{!
  author: samueldoyle
  model: model/loginForm
}}
<div class="offset1 span6">
    <form class="form-horizontal container-fluid" id="loginForm">
        <div class="control-group-pad row">
            <div class="x-form-item">
                <label class="x-form-item-label-top col-md-4" for="appDirHost">
                    {{hostLabel}}
                    <span class="x-darwin-required-field">*</span>
                </label>

                <div class="col-md-4">
                    <input id="appDirHost" class="required hostOrIP" style=" width: 380px;"
                           type="text"
                           placeholder="{{hostPlaceHolderValue}}"
                           data-validation-regex-regex="{{hostValidationRegex}}"
                           data-validation-regex-message="{{hostValidationRegexErrorMsg}}"
                            />
                </div>
            </div>
        </div>

        <div class="control-group-pad row">
            <div class="x-form-item">
                <label class="x-form-item-label-top col-md-4" for="bpExportFN">
                    {{fileLabel}}
                    <span class="x-darwin-required-field">*</span>
                </label>

                <div class="col-md-4">
                    <input type="text" id="bpExportFN" disabled="" class="x-form-text"
                           style="width: 380px;">
                </div>
            </div>
        </div>

        <div id="appDirVersionGroup" class="control-group row" style="display: {{appdVersionGroupDisplay}}">
            <div class="x-form-item">
                <label class="x-form-item-label-top col-md-4" for="appDirVersion">
                    {{appDVersionLabel}}
                    <span class="x-darwin-required-field">*</span>
                </label>

                <div class="x-form-item-body col-md-4">
                    <select id="appDirVersion">
                        {{#appDVersionCollection}}
                            <option value="{{version}}">{{name}}</option>
                        {{/appDVersionCollection}}
                    </select>
                </div>
            </div>
        </div>

        <div id="appDirTenantGroup" class="control-group control-group-pad row" style="display: none">
            <div class="x-form-item">
                <label class="x-form-item-label-top col-md-4" for="appDirTenant">
                    {{tenantLabel}}
                    <span class="x-darwin-required-field">*</span>
                </label>

                <div class="col-md-4">
                    <input id="appDirTenant" name="tenant" class="required tenant" style="width: 380px;"
                           type="text"
                           placeholder="{{tenantPlaceHolderValue}}"
                           data-validation-regex-regex="{{tenantValidationRegex}}"
                           data-validation-regex-message="{{tenanthostValidationRegexErrorMsg}}"/>
                </div>
            </div>
        </div>

        <div id="bottomWrapper">
            <hr style="border-width:2px"/>
            <div id="actionButtons" class="control-group row" style="margin-top: 30px;">
                <div id="viewImportFileButton" class="col-md-2 col-md-offset-3">
                    <button type="button" class="btn btn-primary btn-lg">{{downloadButtonText}}</button>
                </div>
                <div id="loginButton" class="col-md-2" style="display: none">
                    <button type="submit" class="btn btn-primary btn-lg"
                            style="float: left">{{loginButtonText}}
                    </button>
                </div>
                <div id="continueButton" class="col-md-2">
                    <button type="submit" class="btn btn-primary btn-lg"
                            style="float: left">{{continueButtonText}}
                    </button>
                </div>
            </div>
        </div>

        <div id="authPromptInfo" class="row" style="display: none">
            <p class="text-left col-md-2 col-md-offset-5" style="color: rgba(0, 0, 0, 0.45);">
                <small>{{authPromptText}}</small>
            </p>
        </div>

    </form>
</div>
<!--    <div id="eximData" class="hidden">
        <span id="eximep" type="data" data-value="{{loginEP}}"></span>
    </div>-->
